<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <div class="footer-contacts">
                <div class="footer-contacts__inner">
                    <img src="../images/logo.png" alt="" class="footer-contacts__logo">

                    <p class="footer-contacts__title">CONTACTS</p>
                    <div class="footer-contacts__media">
                        <a href="#" class="footer-contacts__media-link">
                            <img src="../images/youtube.svg" href="#">
                        </a>
                        <a href="#" class="footer-contacts__media-link">
                            <img src="../images/pinterest.svg" href="#">
                        </a>
                        <a href="#" class="footer-contacts__media-link">
                            <img src="../images/IN.svg" href="#">
                        </a>
                        <a href="#" class="footer-contacts__media-link">
                            <img src="../images/twitter.svg" href="#">
                        </a>
                        <a href="#" class="footer-contacts__media-link">
                            <img src="../images/Group 1.svg" href="#">
                        </a>
                        <a href="#" class="footer-contacts__media-link">
                            <img src="../images/Vector.svg" href="#">
                        </a>
                    </div>



                </div>
                <div class="footer-contacts__panel">
                    <a class="footer-contacts__panel-link" target="_blank" href="mailto:isoglobal.official@gmail.com">
                        Email
                    </a>
                    <a class="footer-contacts__panel-link" target="_blank" href="tel:+33605856180">
                        Téléphone
                    </a>
                </div>
            </div>
            <p class="footer__text">
                @ALL RIGHT RESERVED
            </p>
        </div>

    </div>
</footer>

</div>

<script src="js/main.min.js"></script>
</body>

</html>